@use "../abstracts/variables";
@use "../abstracts/mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

// main-content
// grid-structure

.main-content-playlist {
  background-image: linear-gradient(180deg, #3b50b6f3, #060606);
  display: grid;
  grid-template-columns: 1fr 32rem;
  // grid-template-columns: 3fr 1fr;
  grid-template-rows: 4.4fr 3rem 16fr;
  column-gap: 3.5rem;
  row-gap: 2rem;
  border-radius: 1rem;

  grid-template-areas:
    "menu  album "
    "title  album"
    "list  album ";

  // height: calc(100vh - 5.4rem) ;
  min-height: 100vh;
  padding: 2.2rem 5rem 0rem 2.5rem;

  // header-section
  h1 {
    color: #fff;
    @include mixins.page-title-font;
  }

  .header {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;

    &-info {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: variables.$color-text-secondary;

      @include mixins.small-font;
    }
  }

  .highlight {
    color: #fff;
  }

  .header-actions {
    display: flex;
    justify-content: space-between;

    &-left {
      display: flex;
      align-items: center;
      gap: 1.4rem;
    }
  }

  .dot {
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 100%;
    background-color: variables.$color-text-secondary;
  }

  // list-title-section
  .divider {
    grid-area: title;
    display: grid;
    grid-template-columns: 1fr 7.5fr 7.5fr 1.6fr 7.5fr;
    color: variables.$color-text-secondary;
    @include mixins.small-font;
    column-gap: 1rem;
    border-bottom: 2px solid variables.$color-text-secondary;
  }

  // playlist-grid
  .playlist-container {
    grid-area: list;
    display: grid;
    grid-template-columns: 1fr 8fr 8fr 2fr 7fr;

    column-gap: 1rem;
    align-items: center;
  }

  // numbers-column
  .list {
    @include mixins.mid-font;
    color: variables.$color-text-secondary;

    height: 6.5rem;
    align-content: center;
  }

  // song-titles-colums
  .text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      width: 5.1rem;
      height: 5.1rem;
      border-radius: 0.3rem;
    }
  }

  .song-title {
    @include mixins.mid-font;
    color: #fff;
  }

  .artist-title {
    @include mixins.small-font;
    color: variables.$color-text-secondary;
  }

  .album-name,
  .duration {
    @include mixins.small-font;
    color: #898989;
  }

  // right-part album-cover-section

  .album-cover {
    grid-area: album;
    display: flex;
    flex-direction: column;

    gap: 3rem;
  }

  .genre-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    color: variables.$color-text-secondary;
  }

  .genre {
    @include mixins.small-font;
    padding: 1rem 2rem;

    border-radius: 4rem;
    border: 2px solid #89898940;
  }

  .artists-wrapper {
    display: flex;
    flex-direction: column;

    gap: 1.5rem;
  }

  .artist {
    display: flex;
    align-items: center;
    color: variables.$color-text-secondary;
    @include mixins.mid-font;
    gap: 2rem;

    img {
      width: 6.1rem;
      height: 6.1rem;
      border-radius: 100%;
    }
  }
}
