

$primary-color: #1ED760;
$secondary-color:#898989;
$box-bg-color:#111111;

$bg-dark:#060606;
$bg-light:#F0F0F0;

$spacing-sm: 1.1rem;

// discover-both, main content border radius, bottom player radius both, 
$mid-radius: 1rem;

// desktop
$album-radius-desktop: 0.725rem;

// mobile 
$album-radius-mobile:0.6rem;
